@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

header{
    position: relative;
    top: -45vh;
}

.content{
    position: relative;
}

.content h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8em;

}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
/*site création clip-path : https://bennettfeely.com/clippy/*/
@keyframes animate {
    0%,100%{
        clip-path: polygon(1% 46%, 12% 42%, 25% 38%, 36% 41%, 46% 45%, 53% 49%, 64% 53%, 74% 52%, 84% 48%, 91% 45%, 100% 43%, 100% 70%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 46%, 14% 54%, 24% 61%, 37% 59%, 49% 56%, 55% 51%, 64% 44%, 75% 41%, 85% 40%, 94% 39%, 100% 42%, 100% 70%, 100% 100%, 0 100%);
    }
}