a{
    text-decoration: none;
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style :solid;

}

h2{
    display: flex;
    justify-content: center;
}

b{
    color:red;
    text-decoration: underline;
}

body{
    background: black;
    color: #00a1ff;
}

.beaft:before{
    content: 'before'; /*definir un contenu pour le faire exister*/
    width: 100%;
    height: 100%;
    display: block;
    background: red;

}
.beaft:after{
    content: 'after'; /*definir un contenu pour le faire exister*/
    width: 100%; /*100% du contenu*/
    height: 100%; /*100% du contenu*/
    display: block;
    background: blue;

}