
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

.my-atropos {
    width: 250px;
    height: 320px;
}

.my-atropos img{
    position: absolute;
    width: 250px;
    height: 320px;
}

.my-atropos2 {
    width: 250px;
    height: 320px;
}

.my-atropos2 img{
    position: absolute;
    width: 250px;
    height: 320px;
}

.my-atropos2 img:nth-child(2){
    position: absolute;
    left: 50px;
    width: 150px;
    height: 220px;
}