a{
    text-decoration: none;
    color: #0e152e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-style :solid;
    width: 350px;
    font-size: 1.5em;
    margin-top: 15px;
}

h2{
    display: flex;
    justify-content: center;

}

body{
    background: darkslategray;
    color: #0e152e;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

span{
    margin-right: 5px;
}